
$font-size: 14px;

$title-font: 'HelveticaNeue-Thin', sans-serif;
$title-color: #ffffff;



$fontOpen:'Open Sans', sans-serif;
$headlinerFont:'Source Sans Pro', sans-serif;
$text-font: 'GothamLight', sans-serif;
$mainFont: 'Times New Roman', serif;
$footerFont: 'GothamBook', sans-serif;
$fontAwesome: 'FontAwesome';

$mainColor: #6d82f8;
$primaryColor:#5058c4;
$hoverColor: #c1c45b;
$itemBackground: #999999;
$bgColor: rgb(34,39,106);
$footerColor: rgb(87,104,208);
$success:#57ac54;

//social colors

$facebook: #3b5998;
$twitter: #1da1f2;
$linkedin: #007bb5;
$google: #dd4b39;